extends layout
block content
  h1= title
  - let raftboatid = toShow._id
  - let substance = toShow.substance
  - let size = toShow.size
  - let price = toShow.price

  div.row(class='mb-2')
    div.mr-1 ID is
      div #{raftboatid}
    - let actionid = "/resource/raftboats/" + raftboatid
    form(id='raftboatForm', action= actionid, method="PUT")
      div.form-group
        label.raftboatAttr(for='substance') Artist name
        input#substance(type='text', name='substance', value= substance )
      div.form-group
        label.raftboatAttr(for='size') Artist Masterpiece cost
        input#size(type='text', name='size', value= size )
      div.form-group
        label.raftboatAttr(for='price') Artist Masterpiece Name
        input#price(type='number', name='price', value= price )
      input(type="submit")
  script.
    document.forms['raftboatForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });